.title {
    font-size: 61px;       
    font-weight: 900;      
    text-align: center;     
    color: hsl(0, 59%, 41%);
    margin-top: 40px;      
    margin-bottom: 20px;    
    width: 100%;            
}


.aaa { 
    display: block;       /* הופך את הסרטון לבלוק כדי שהמרג'ין יעבוד */
    margin: 30px auto;    /* זה הקסם: ממרכז אוטונומית מימין ומשמאל */
    border-radius: 150px;
    /* מחקנו את ה-margin-right שדחף אותו הצידה */
}


.link1 {
    text-align: center;  
    margin-bottom: 10px; 
}


.link1 a {
    color: #b80e0e;      
    text-decoration: underline;
    font-weight: bold;    
    font-size: 30px;     
}

.my-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;          
    justify-content: center;
    padding: 10px;
    background-color: rgba(192, 137, 55, 0.219); 
}

.my-grid video, .my-grid img {
    width: calc(50% - 10px); 
    height: auto;           
    border-radius: 700px;     
    object-fit: contain;   
   
}


.master{
    background-color: rgba(192, 137, 55, 0.219);
}


.center{
  background-color: rgb(228, 205, 183);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-top: 20px;
}

.story-container {
        background-color: rgb(228, 205, 183);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .sss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}